*{
    padding: 0;
    margin: 0;
}

body {
    color: white;
    font-size: 40px;
    font-family: Helvetica, sans-serif;
    background: black;
}

h2 {
    padding-top: 10px;
    color: #bebebe;
}

.sub-text {
    color: #2e2e2e;
    font-style: italic;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

#stage {
    margin-top: 20px;
}